body {
    margin: 0;
    background-image: url('../Assets/Wallpaper2.jpg');
    background-size: cover;
}

.cuadroBotonesMenuPrincipal {
    display: flex;
    gap: 2px;
    margin-right: 15px;
}

.cuadroNombreFotoSalir {
    display: flex;
    gap: 5px;
}

.cuadroFoto {
    display: flex;
    align-items: center;
}

.Foto {
    width: 50px;
    opacity: 50;
}

.botonMenuPrincipal {
    display: inline-block;
    height: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    background-color: rgba(0,0,0,0);
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border-style: none;
}

.botonMenuPrincipal::before,
.botonMenuPrincipal::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.botonMenuPrincipal::before {
    left: -10px;
    background: #240046;
}

.botonMenuPrincipal::after {
    right: -10px;
    background: #5a189a;
}

.botonMenuPrincipal:hover::before,
.botonMenuPrincipal:hover::after {
    width: 58%;
}

.botonMenuPrincipal:hover span {
    color: #e0aaff;
    transition: 0.3s;
}

.botonMenuPrincipal span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
}

.cuadroBotonMenuP {
    align-items: center;
    display: flex;
}

.nombre {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'ADLaM Display', cursive;
}

.cuadroNombre {
    display: flex;
}

.cuadroBotonSalir {
    display: flex;
    align-items: center;
}

.botonMenuSecundario {
    height: 40px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    align-self: flex-end;
    width: fit-content;
}

.botonSalir {
    background-color: darkred;
    width: 70px;
    height: 35px;
}

.botonSalir:hover {
    background-color: red;
}

.menuBotonesNavegacion {
    justify-content: center;
    display: flex;
}

.cuadroPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonExpedientePersonal {
    background-color: transparent;
    width: fit-content;
}

.botonExpedienteAcademico {
    background-color: transparent;
    width: fit-content;
}

.botonExpedienteProfesional {
    width: fit-content;
    background-color: transparent;
}

.botonReferenciasPersonales {
    background-color: transparent;
    width: fit-content;
}

.botonReferenciasProfesionales {
    background-color: transparent;
    width: fit-content;
}

.botonOtrosDatos {
    background-color: transparent;
    width: fit-content;
}

.botonPaginaPropia {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: Darkblue;
    font-size: 18px;
}

.botonMenuSecundario:hover {
    background-color: blue;
    font-size: 20px;
}

.informacionPersonal {
    display: flex;
    background-color: rgba(16, 185, 129, 0.5);
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
}

.datosPersonal1 {
    flex-direction: column;
}

.datosPersonal4 {
    display: flex;
}

.tituloInformacionPersonal {
    width: 225px;
    height: 29px;
}

.tituloCuadro {
    margin: 0;
    font-family: 'ADLaM Display', cursive;
    font-size: 22px;
}

.cuadroTituloFoto {
    display: flex;
    align-items: center;
}

.fotoInformacionPersonal {
    width: 80px;
    padding-bottom: 2px;
}

.cuadroFotoBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadrosPersonal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: -1px;
}

.espacioBlanco {
    width: 213px;
    height: 29px;
}

.titulos {
    font-family: 'AR One Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.datos {
    font-weight: bold;
    font-family: 'AR One Sans', sans-serif;
    font-size: 17px;
}

.cuadroTituloDatos {
    display: flex;
    width: fit-content;
}

.cuadroTituloPrimer {
    width: 106px;
}

.cuadroDatosPrimer {
    width: 120px;
}

.cuadroTituloSegundo {
    width: 71px;
}

.cuadroDatosSegundo {
    width: 165px;
}

.cuadroTituloTercero {
    width: 109px;
}

.cuadroDatosTercero {
    width: 100px;
}

.selectDomicilio {
    font-family: 'AR One Sans', sans-serif;
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}

.inputDatos {
    font-family: 'AR One Sans', sans-serif;
    font-weight: 700;
    width: 102px;
    height: 21px;
    border-radius: 5px;
}

.botonAgregarImagen {
    background-color: darkred;
}

.botonActualizarDatosContacto {
    background-color: darkblue;
}

.boton {
    font-family: 'ADLaM Display', cursive;
    color: white;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.logo {
    height: 80px;
}

.botonAgregarImagen:hover {
    background-color: red;
}

.botonActualizarDatosContacto:hover {
    background-color: blue;
}

.cuadroDomicilioAtestados {
    display: flex;
    width: fit-content;
}

.cuadroDomicilio {
}

.cuadroTitulo {
}

.cuadroProvinciaCanton {
    display: flex;
}

.cuadroProvincia {
}

.cuadroCodPostal {
}

.cuadrosDomicilio {
    display: flex;
}