body {
    margin: 0;
    background-image: url('../Assets/Wallpaper2.jpg');
    background-size: cover;
}

.cuadroBotonesMenuPrincipal {
    display: flex;
    gap: 2px;
    margin-right: 15px;
}

.cuadroNombreFotoSalir {
    display: flex;
    gap: 5px;
}

.cuadroFoto {
    display: flex;
    align-items: center;
}

.Foto {
    width: 50px;
    opacity: 50;
}

.botonMenuPrincipal {
    display: inline-block;
    height: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    background-color: rgba(0,0,0,0);
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border-style: none;
    width: 111px;
}

.botonMenuPrincipal::before,
.botonMenuPrincipal::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.botonMenuPrincipal::before {
    left: -10px;
    background: #240046;
}

.botonMenuPrincipal::after {
    right: -10px;
    background: #5a189a;
}

.botonMenuPrincipal:hover::before,
.botonMenuPrincipal:hover::after {
    width: 58%;
}

.botonMenuPrincipal:hover span {
    color: #e0aaff;
    transition: 0.3s;
}

.botonMenuPrincipal span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
}

.cuadroBotonMenuP {
    align-items: center;
    display: flex;
}

.nombre {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'ADLaM Display', cursive;
}

.cuadroNombre {
    display: flex;
}

.cuadroBotonSalir {
    display: flex;
    align-items: center;
}

.botonMenuSecundario {
    height: 40px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    align-self: flex-end;
    width: fit-content;
    text-decoration: underline;
}

.botonSalir {
    background-color: darkred;
    height: 35px;
    width: 80px;
}

.botonSalir:hover {
    background-color: red;
}

.menuBotonesNavegacion {
    justify-content: center;
    display: flex;
}

.cuadroPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: fit-content;
    outline: 1px solid #cccccc;
    border-radius: 10px;
    padding: 5px;
}

.botonExpedientePersonal {
    background-color: transparent;
    width: fit-content;
}

.botonExpedienteAcademico {
    background-color: transparent;
    width: fit-content;
}

.botonExpedienteProfesional {
    width: fit-content;
    background-color: transparent;
}

.botonReferenciasPersonales {
    background-color: transparent;
    width: fit-content;
}

.botonReferenciasProfesionales {
    background-color: transparent;
    width: fit-content;
}

.botonOtrosDatos {
    background-color: transparent;
    width: fit-content;
}

.botonPaginaPropia {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: Darkblue;
    font-size: 18px;
}

.botonMenuSecundario:hover {
    background-color: blue;
    font-size: 20px;
}

.informacionPersonal {
    display: flex;
    background-color: rgba(16, 185, 129, 0.3);
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
}

.datosPersonal1 {
    flex-direction: column;
}

.datosPersonal4 {
    display: flex;
}

.tituloInformacionPersonal {
    width: 225px;
}

.tituloCuadro {
    margin: 0;
    font-family: 'ADLaM Display', cursive;
    font-size: 22px;
    font-weight: 700;
}

.cuadroTituloFoto {
    display: flex;
    align-items: center;
}

.fotoInformacionPersonal {
    width: 80px;
    padding-bottom: 2px;
}

.cuadroFotoBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadrosPersonal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.espacioBlanco {
    width: 184px;
    height: 29px;
}

.titulos {
    font-family: 'AR One Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.datos {
    font-weight: bold;
    font-family: 'AR One Sans', sans-serif;
    font-size: 17px;
}

.cuadroTituloDatos {
    display: flex;
    width: fit-content;
}

.cuadroTituloPrimer {
    width: 106px;
}

.cuadroDatosPrimer {
    width: 120px;
}

.cuadroTituloSegundo {
    width: 75px;
}

.cuadroDatosSegundo {
    width: 110px;
}

.cuadroTituloTercero {
    width: 109px;
}

.cuadroDatosTercero {
    width: 140px;
}

.selectDomicilio {
    font-family: 'AR One Sans', sans-serif;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

.inputDatos {
    font-family: 'AR One Sans', sans-serif;
    font-weight: 700;
    width: 102px;
    height: 21px;
    border-radius: 5px;
}

.botonAgregarImagen {
    background-color: darkred;
}

.botonActualizarDatosContacto {
    background-color: darkblue;
}

.boton {
    font-family: 'ADLaM Display', cursive;
    color: white;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.logo {
    height: 80px;
}

.botonAgregarImagen:hover {
    background-color: red;
}

.botonActualizarDatosContacto:hover {
    background-color: blue;
}

.cuadroDomicilioAtestados {
    display: flex;
    width: fit-content;
    gap: 5px;
}

.cuadroDomicilio {
    background-color: rgba(59, 130, 246, 0.3);
    border-radius: 5px;
    padding: 5px;
}

.cuadroProvinciaCanton {
    display: flex;
    gap: 2px;
}

.cuadrosDomicilio {
    display: flex;
}

.cuadroTitulosDomicilio2 {
    width: 70px;
}

.cuadroTitulosDomicilio1 {
    width: 80px;
}

.inputSenas {
    width: 360px;
    height: 50px;
    border-radius: 5px;
}

.cuadroAtestados {
    background-color: rgba(239, 68, 68, 0.3);
    border-radius: 5px;
    padding: 5px;
}

.cuadroCantonDistrito {
    display: flex;
    gap: 2px;
}

.cuadroSenas {
    display: flex;
}

.gAcademicoGProf {
    display: flex;
}

.cuadroGAcademico {
    display: flex;
}

.cuadroTituloAtestados1 {
    display: flex;
    width: 86px;
}

.cuadroTituloAtestados2 {
    display: flex;
    width: 73px;
}

.cuadroGAcademico {
    display: flex;
}

.cuadroGProfesional {
    display: flex;
}

.cuadroSCivil {
    display: flex;
}

.cuadroIdiomasMostrar {
    display: flex;
}

.cuadroColegiado {
    display: flex;
}

.cuadroIdiomasSeleccionar {
    display: flex;
}

.selectAtestados {
    font-family: 'AR One Sans', sans-serif;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

.cuadroDatosAtestados {
    width: 147px;
}

.botonAgregarIdiomas {
    background-color: darkblue;
}

.botonAgregarIdiomas:hover {
    background-color: blue;
}

.botonGuardar {
    background-color: darkgreen;
    height: 35px;
    width: 80px;
}

.botonAtras {
    background-color: darkblue;
    height: 35px;
    width: 80px;
}

.cuadroPersonalGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadroBotonesGuardarAtras {
    margin-right: 12px;
    gap: 3px;
    display: flex;
}

.botonGuardar:Hover {
    background-color: green;
}

.botonAtras:hover {
    background-color: blue;
}

/* From Uiverse.io by NelsonDJCR */
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
}

.button2 > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
}

.button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
}

.button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.cuadroWhatsapp {
    margin-top: 5px;
}
